<!-- views/partials/_navbar.ejs -->

<!-- views/partials/_navbar.ejs -->

<nav>
    <% if(user) { %>
      <a href="/users/<%=user._id%>/applications">Your Apps</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </nav>

