<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="stylesheets" href="../../public/stylesheets/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Skyrockit</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

    <h1>Skyrockit</h1>
    <p>The worlds premier job application tracker!</p>
    </p>
</body>
</html>
